<ion-content fullscreen="true" class="login-content ion-padding">
    <div class="login-wrapper">
        <ion-card class="login-card">
            <ion-card-header>
                <ion-card-title class="ion-text-center">Registrarse</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding center-form">
                <div class="ion-text-center ion-justify-content-center ion-align-items-center" style="display: flex; height: 100%;">
                    <form [formGroup]="form" (ngSubmit)="register()" style="width: 100%; max-width: 400px;">
                        <ion-item lines="none">
                            <ion-icon slot="start" name="person-outline"></ion-icon>
                            <ion-input
                                    type="text"
                                    placeholder="Nombre"
                                    formControlName="name"
                                    required="">
                            </ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-icon slot="start" name="mail-outline"></ion-icon>
                            <ion-input
                                    type="email"
                                    placeholder="Correo electrónico"
                                    formControlName="email"
                                    required="">
                            </ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                            <ion-input
                                    type="password"
                                    placeholder="Contraseña"
                                    formControlName="password"
                                    required="">
                            </ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                            <ion-input
                                    type="password"
                                    placeholder="Confirmar Contraseña"
                                    formControlName="confirmedPassword"
                                    required="">
                            </ion-input>
                        </ion-item>
                        <ion-text color="danger" *ngIf="error">
                            <p>{{ error }}</p>
                        </ion-text>
                        <ion-button expand="block" type="submit" class="login-button">Registrarse</ion-button>
                        <div class="register-text">
                            <span>¿Ya tienes cuenta?</span>
                            <a routerLink="/auth/login">Ingresar</a>
                        </div>
                    </form>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
